@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,500&subset=latin-ext);

.promo-wrapper {
  background: #063340;
  font-family: 'Roboto', sans-serif;
  padding: 10px 0;

  header {
    h1 {
      text-transform: uppercase;
      font-weight: 700;
      color: white;
      margin: 20px 0;
    }
  }

  .idea-list {
    text-align: center;
    list-style: none;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    li {

      &:hover {
        cursor: pointer;
        .description-box {
          width: 250px;
        }
      }

      .description-box {
        height:250px;
        width: 0;
        overflow: hidden;
        -webkit-transition: width 0.6s;
        transition: width 0.6s;
        z-index: 2;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      box-sizing: border-box;
      overflow: hidden;
      display: inline-block;
      height: 250px;
      width: 250px;
      position: relative;
      float: left;

      .idea-text {
        z-index: 3;
        width: 250px;
        overflow: hidden;
        color: white;
        font-weight: 700;
        font-size: 35px;
      }

      .idea-image {
        position: absolute;
        img {
          overflow: hidden;
          height: 250px;
          width: auto;

        }
      }
    }
  }
}
