$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.container .container-fluid{
margin:0;
padding:0 !important;
width:100%;
max-width: 100%;
}

#main {
	font-family: 'Roboto', sans-serif;
	position:relative;
	background: url("../images/143223082088218.jpg") no-repeat center 0;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;         /* Generic*/
	border-bottom: 0;
  -webkit-transition: background-size 2s ease-in;
  min-height:650px;
  transition: background-size 2s ease-in;
  -moz-transition: background-size 2s ease-in;
  -ms-transition: background-size 2s ease-in;
  -o-transition: background-size 2s ease-in;


	.submain{
		padding:50px;
		padding-top:250px
	}
	.title{
	font-weight:900;
		text-align:center;
		font-size:45px;
		color: #063340;
	}
	.subtitle{

	font-weight:900;
		font-family: 'Calligraffitti', cursive;
		text-align:center;
		font-size:30px;
		color: #063340;
	}

	button {
     background:none!important;
     border:none;
     padding:3px;
     font-size: 25px;
     /*border is optional*/
	 color: #063340;
     border-bottom:2px solid  #063340;
     border-top:2px solid  #063340;
     cursor: pointer;
	  transition: padding 1s;
	}
	button:hover{
	 padding-top:10px;
	 padding-bottom:10px;

	}

	.content{
	padding-top:100px;
		display: flex;
	}
	.ulist{

    list-style: none;
    text-align: left;
		color: #063340;
		flex: 1;
		font-size:20px;
		}
	.sendIdea{
	  padding-top:50px;
		height:100%;
    margin: 0 auto;
	}
	.clearfix:after {
		  content: ".";
		  display: block;
		  clear: both;
		  visibility: hidden;
		  line-height: 0;
		  height: 0;
		  }

}



#logPopup{
	display:none;
	background:rgba(0,0,0,0.92);
	position: absolute;
	top:0;
	height:100%;
	width:100%;
	
	#closeButton{
		color:white;
		margin-left:100px;
		border:none;
		padding:10px;
		position:fixed;
		right:50px;
		top:80px;
	}
	span{
		font-size:20px;
		margin-top:100px;
		
	}


	#facebookLoginButton {
	  width: 175px;
	  height: 35px;
	  display: block;
	  margin: 18px auto;
	  background-color: #4a6ea9 !important;
    border-radius: 4px;
	  color: #FFF;
	  line-height: 35px;
	  text-align: center;
	  font-weight: bold;
	  font-size: 13px;
	  text-decoration: none;
	  border: 0;
	  padding: 0;
    transition: none;
	  }

	}

.form-wrapper {
  .gradient {
    background-color: rgba(252,175,23,0.55);
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .container-fluid {
    padding: 0 !important;
    z-index: 2;
  }
}



#logMain{
	position:relative;

}
#thanks{
	display:none;
	background:rgba(0,0,0,0.5);
	position: absolute;
	top:0;
	height:100%;
	width:100%;


}

#unproper_login{
	display:none;
}



#pageHeader {
  width: 100%;
  height: 64px;
  clear: both;
  text-align: left;
  background: #063340;
  position: relative;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: roboto, Droid Sans, Helvetica, Arial;
  font-size: medium;
  text-align: center;
  margin: 0.5em 4% 0.5em 4%;
  background: #fff;
  overflow-x: hidden;
  margin: 0;
  -ms-touch-action: pan-y;
  -webkit-tap-highlight-color: rgba(60,94,119,0.25);
}

#pageHeader .newLogoOnet {
  background: url(http://ocdn.eu/static/template-engine/MDU7MDA_/735f0426de30c4c4514255298457f96d/sprites/sgv2.png);
  background-position: -1px 50px;
  display: inline-block;
  width: 101px;
  height: 32px;
}

#pageHeader #icons {
  display: block;
  margin-right: 10px;
  right: 5px;
  top: 10px;
  position: absolute;
  z-index: 40;
}

#pageHeader #icons a {
  color: #01A1C5;
  font-size: 11px;
  overflow: hidden;
  text-indent: -9999px;
  display: block;
  width: 49px;
  position: relative;
  height: 58px;
  background: url(http://ocdn.eu/static/template-engine/MDU7MDA_/735f0426de30c4c4514255298457f96d/sprites/sgv2.png) no-repeat scroll 0 0;
  float: left;
  background-position: -541px 0;
  cursor: pointer;

}

#pageHeader #icons .i5, #menuFixedWrapper #pageNavTopNew #mainMenuContainer .icons a.i5 {
  background-position: -180px 0;
}

#menuFixedWrapper #pageNavTopNew .buttonMenu.buttonMenuHide {
  background-position: -541px 0;
  cursor: pointer;
}
#menuFixedWrapper #pageNavTopNew .menuToggleBtn {
  border-width: 1px 1px 0;
  height: 49px;
  width: 40px;
  left: 0;
  position: absolute;
  top: 10px;
  z-index: 510000 !important;
}
#menuFixedWrapper #pageNavTopNew .buttonMenu {
  -moz-border-radius: 0.37em;
  -webkit-border-radius: 0.37em;
  -khtml-border-radius: 0.37em;
  border-radius: 0.37em;
  height: 49px;
  width: 40px;
  text-indent: -9999px;
  background: url(http://ocdn.eu/static/template-engine/MDU7MDA_/735f0426de30c4c4514255298457f96d/sprites/sgv2.png);
  background-repeat: no-repeat;
}
#pageNavTopNew .buttonMenu {
  -moz-border-radius: 0.37em;
  -webkit-border-radius: 0.37em;
  -khtml-border-radius: 0.37em;
  border-radius: 0.37em;
  height: 49px;
  width: 40px;
  text-indent: -999px;
}

#pageHeader #logo {
  float: left;
  padding-top: 14px;
  padding-left:10px;
}
#menuFixedWrapper #pageNavTopNew .buttonMenu.buttonMenuHide.menuOpen {
  background-position: -588px 0;
}

#menuFixedWrapper #pageNavTopNew .buttonMenu.buttonMenuHide {
  background-position: -541px 0;
  cursor: pointer;
}

.header {
  margin-bottom: 0;
  border: none;

  .container-fluid {
    padding: 0;
  }

  .navbar {
    .navbar-default {
      margin-bottom: 0;
    }

    border: none;
    margin-bottom: 0;
  }
}

.footer {
  background-color: rgb(252,175,23);
  border: none;
  padding: 10px 0 20px 0;

  p {
    margin: 10px auto;
    color: #063340;

    .white {
      color: white;
    }

    .black {
      color: black;
    }

    .yellow {
      color: rgb(252,175,23)
    }
  }

  .glyphicon {
    vertical-align: middle;
    color: #063340;
  }

}
.mobile-hide {
  display: inline;
}


@media screen and (max-width: 768px) {
  .mobile-hide {
    display: none;
  }
}
#logPopup {
  color: white;
  > span {
    margin-top: 50px;
    display: block
  }
  .formContainer {
  #f_login,#f_password{
	color:black;
  }
    .loginButton {
      background:none!important;
      border:none;
      padding:3px;
      font-size: 25px;
      /*border is optional*/
      color: white;
      border-bottom:2px solid  white;
      border-top:2px solid  white;
      cursor: pointer;
      transition: padding 1s ease;
      margin: 15px auto;
    }

    button {
      background:none!important;
      border:none;
      padding:3px;
      font-size: 25px;
      /*border is optional*/
      color: white;
      border-bottom:2px solid  white;
      border-top:2px solid  white;
      cursor: pointer;
      transition: padding 1s;
      margin: 15px auto;
    }
	.loginButton:hover{
		padding:10px 0;
	}

    ul {
      list-style: none;
      color: white;

      li {
        margin: 15px 0;
        label {
          display: block;
        }
      }
    }
  }

}
